<div>
    <div class="modal-header">
        <span><h3 class="modal-title">Карточка организации</h3></span>

    </div>
    <div class="modal-body">
       <form class="form">
           <div class="form-group">
               <label for="name">Полное название:</label>
               <input class="form-control" id="name" ng-model="wplace.name">
           </div>
           <div class="form-group">
               <label for="short-name">Краткое название:</label>
               <input class="form-control" id="short-name" ng-model="wplace.shortName">
           </div>
           <div class="form-group">
               <label for="city">Город:</label>
               <input class="form-control" id="city" ng-model="wplace.city">
           </div>
           <div class="form-group">
               <label for="country">Страна:</label>
               <input class="form-control" id="country" ng-model="wplace.country">
           </div>

       </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="save()">Сохранить</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
    </div>
</div>