<table class="table table-striped">
    <thead>
    <th>
        №
    </th>
    <th>
        ФИО
    </th>
    <th>
        Организация
    </th>
    <th>
        Статус
    </th>
    <th>
        Действия
    </th>
    </thead>
    <tbody>
    <tr ng-repeat="user in list">
        <td>
            {{$index + 1 }}
        </td>
        <td>
            <a href="{{userLink}}{{user.id}}">
                {{user.snpShort}}
            </a>
        </td>
        <td>
            {{user.wpNameShort}}
        </td>
        <td>
            <status-squares data="user.statusData"></status-squares>
        </td>
        <td>
            <button type="button" class="btn btn-warn">NO</button>
        </td>
    </tr>
    </tbody>
</table>