<div class="fixed-width-mid " xmlns="http://java.sun.com/jsf/html">
    <div>
        <a href="#/events/" class="btn">Назад</a>

        <a class="pull-right" href="#/events/{{eventId}}/details" class="btn">Перейти к конференции</a>
    </div>
    <div class="form-group">
        <label for="event-name">
            Название события
        </label>
        <input class="form-control" type="text" id="event-name" ng-model="currentEvent.name"/>
    </div>
    <div class="form-group">
        <label for="short-event-name">
            Краткое название события
        </label>
        <input class="form-control" type="text" id="short-event-name" ng-model="currentEvent.shortName"/>
    </div>

    <accordion ng-show="currentEvent.id">

        <accordion-group heading="Организаторы">
            <div class="form-inline">
                <span>Технический комитет: </span>
                <input class="form-control" ng-model="currentTechPeopleItem.value"/>
                <button class="btn btn-small" type="button" id="tech-people-add" ng-enabled="currentTechPeopleItem"
                        ng-click="saveItem(currentEvent.techPeopleList, 'currentTechPeopleItem')">
                    Сохранить
                </button>
            </div>
            <div ng-repeat="item in currentEvent.techPeopleList" ng-click="currentTechPeopleItem = item">{{item.value}}
            </div>
            <div>
                <span class="form-inline">Организации-организаторы: <select class="form-control"
                                                                            ng-model="data.currentOrgOrganisationId"
                                                                            ng-options="org.id as org.shortName for org in organisationList"></select><button
                        ng-click="addOrgToList()" class="btn btn-info">Добавить
                </button></span>

                <ul>
                    <li ng-repeat="org in currentEvent.orgOrganisationList">{{org.name}}</li>
                </ul>
                <button type="button" class="btn btn-success" ng-click="save()">Сохранить</button>
            </div>


        </accordion-group>
        <accordion-group heading="Настройка ключевых дат">
            <div>
                <form>
                    <div class="form-group">
                        <label for="event-start-date">
                            Начало события
                        </label>
                        <ng-datepicker class="form-control" id="event-start-date"
                                       ng-model="currentEvent.startDate" locale="ru" view-format="DD.MM.YYYY"
                                       format="YYYY-MM-DD">
                        </ng-datepicker>
                    </div>


                    <div class="form-group">
                        <label for="application-end-date">
                            Окончание приема новых участников
                        </label>
                        <ng-datepicker class="form-control" id="application-end-date"
                                       ng-model="currentEvent.applicationEndDate" locale="ru" view-format="DD.MM.YYYY"
                                       format="YYYY-MM-DD">
                        </ng-datepicker>
                    </div>

                    <div class="form-group">
                        <label for="info-rec-end-date">
                            Окончание приема материалов
                        </label>
                        <ng-datepicker class="form-control" id="info-rec-end-date"
                                       ng-model="currentEvent.infoRecEndDate" locale="ru" view-format="DD.MM.YYYY"
                                       format="YYYY-MM-DD">
                        </ng-datepicker>
                    </div>
                    <div class="form-group">
                        <label for="payment-end-date">
                            Окончание ожидания оплаты
                        </label>
                        <ng-datepicker class="form-control" id="payment-end-date"
                                       ng-model="currentEvent.paymentEndDate" locale="ru" view-format="DD.MM.YYYY"
                                       format="YYYY-MM-DD">
                        </ng-datepicker>
                    </div>
                    <div class="form-group">
                        <label for="print-end-date">
                            Срок подготовки материалов для печати
                        </label>
                        <ng-datepicker lass="form-control" id="print-end-date"
                                       ng-model="currentEvent.printEndDate" locale="ru" view-format="DD.MM.YYYY"
                                       format="YYYY-MM-DD">
                        </ng-datepicker>
                    </div>
                    <div class="form-group">
                        <label for="event-end-date">
                            Конец события
                        </label>

                        <ng-datepicker class="form-control" id="event-end-date"
                                       ng-model="currentEvent.endDate" locale="ru" view-format="DD.MM.YYYY"
                                       format="YYYY-MM-DD">
                        </ng-datepicker>
                    </div>
                </form>
            </div>
        </accordion-group>
        <accordion-group heading="Финансовые документы">
            <!--<div class="form-inline">-->
            <!--<input class="form-control" ng-model="currentFinancialDocumentType.value"/>-->
            <!--<button class="btn btn-small" type="button" id="fin-doc-type-add" ng-enabled="currentFinancialDocument && currentFinancialDocumentType.value"-->
            <!--ng-click="saveItem(currentEvent.financialDocumentTypeList, 'currentFinancialDocumentType')">-->
            <!--Сохранить-->
            <!--</button>-->
            <!--</div>-->
            <!--<div ng-repeat="item in currentEvent.financialDocumentTypeList" ng-click="currentFinancialDocumentType = item">{{item.value}}-->
            <!--</div>-->
            <button type="button" ng-click="editFinDocType()" class="btn btn-success">Добавить</button>
            <table class="table table-striped">
                <thead>
                <th>
                    No
                </th>
                <th>
                    Название документа
                </th>
                <th>
                    Образец
                </th>
                <th>
                    Действия
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="docType in currentEvent.financialDocumentTypeList">
                    <td>
                        {{$index + 1}}
                    </td>
                    <td>
                        <a href="" ng-click="editFinDocType(docType.id)">
                            {{docType.name}}
                        </a>
                    </td>
                    <td>
                        <a href="./api/private/files?id={{docType.exampleFileId}}">{{docType.exampleFileName}}</a>
                    </td>
                    <td>
                        <a href="" ng-click="deleteFinDoc(docType.id)">удалить</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </accordion-group>
        <!--<accordion-group heading="Шаблоны рассылаемых сообщений">-->
        <!--<div class="vertical-tabs">-->
        <!--<tabset vertical="true" >-->
        <!--<tab ng-repeat="template in currentEvent.templates"-->
        <!--heading="template.name">-->
        <!--<textarea ng-model="template.text"></textarea>-->

        <!--</tab>-->
        <!--<tab heading="(+)Новый шаблон">Vertical content 2</tab>-->
        <!--</tabset>-->
        <!--</div>-->
        <!--</accordion-group>-->
        <accordion-group heading="Даты рассылки сообщений">
            <div>

            </div>
        </accordion-group>
        <accordion-group heading="Секции">
            <br>
            <button type="button" ng-click="addSection()" class="btn">Добавить</button>
            <button type="button" ng-click="finishSectionsEditing(currentEvent.sectionList)" class="btn">Сохранить
            </button>
            <table class="table table-striped">
                <thead>
                <th>
                    №
                </th>
                <th>
                    Название
                </th>
                <th>
                    Буква
                </th>
                <th>
                    Удалить
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="section in currentEvent.sectionList">
                    <td ng-click="sectionClick(currentEvent.sectionList, section)">{{$index + 1}}</td>
                    <td ng-click="sectionClick(currentEvent.sectionList, section)" ng-hide="section.editing">
                        {{section.name}}
                    </td>
                    <td ng-click="sectionClick(currentEvent.sectionList, section)" ng-hide="section.editing">
                        {{section.letter}}
                    </td>
                    <td ng-click="sectionClick(currentEvent.sectionList, section)" ng-show="section.editing"><input
                            ng-model="section.name"/></td>
                    <td ng-click="sectionClick(currentEvent.sectionList, section)" ng-show="section.editing"><input
                            ng-model="section.letter" maxlength="1"/></td>

                    <td>
                        <button ng-click="deleteSection(section.id)">X</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </accordion-group>
    </accordion>
    <div>
        <button ng-click="save()" class="btn">Сохранить</button>
    </div>

</div>
</div>