<div class="">
    <h1>
        Почта
    </h1>

    <div class="logic-area messages-area">
        <div class="col-md-4">
            <div class="v-scrollable">
                <div ng-repeat="user in userList">
                    <a href="" ng-class="user.id == currentChatUser.id ? 'text-success chat-user-selected' : ''"
                       ng-click="setCurrentUser(user.id)">{{user.snpLong}}({{user.unreadCount ? user.unreadCount :
                        '0'}})</a>
                </div>
            </div>
        </div>
        <div class="col-md-8" style="height:400px">
            <div class="v-scrollable" style="height: 500px" id="scrollable-area">
                <div ng-repeat="message in messages" class="message"
                     ng-class="message.from ? 'chat-message-from' : 'chat-message-to'">
                    <div class="chat-message-header" ng-class="message.from ? 'chat-header-from' : 'chat-header-to'">
                        <span class="messages-name">{{message.fromName}}</span><span class="pull-right">{{message.time|date:'dd/MM hh:mm:ss'}}</span>
                    </div>
                    <div class="message-full">
                        <div class="message-text">{{message.text}}</div>
                        <div ng-show="message.fileId" class="message-attaches">
                            <a href="api/private/files?id={{message.fileId}}">{{message.fileName}}</a>

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <input ng-model="currentMessage.text" class="form-control"></input>
                </div>
                <div>
                    Прикрепленный файл: {{currentMsg.file}}
                    <span ng-show="currentMessage.file.isPhoto">preview</span>
                </div>
                <div>
                    <div class="btn-block">
                        <button class="btn btn-success" ng-click="send()"
                                type="button">Отправить
                        </button>
                        <input class="btn btn-info" type="file" id="selectedFile"
                               uploader="uploader"
                               nv-file-select ng-show="false">Добавить</input>
                        <button class="btn btn-info" ng-click="openFileModal()" type="button">Прикрепить файл</button>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
