<div>
    <button type="button" class="btn" ng-click="editWP()">Добавить организацию</button>
    Фильтр для поиска
    <button type="button" class="btn">Поиск</button>
</div>
<table class="table table-striped">
    <thead>
    <th>
        №
    </th>
    <th>
        Название
    </th>
    <th>
        Расположение
    </th>
    <th>
        Количество работающих
    </th>
    <th>
        Действия
    </th>
    </thead>
    <tbody>
    <tr ng-repeat="wplace in wplaces" >
        <td ng-click="editWP(wplace.id)">{{$index + 1}}</td>
        <td ng-click="editWP(wplace.id)">{{wplace.name}}({{wplace.shortName}})</td>
        <td ng-click="editWP(wplace.id)">{{wplace.country}}, {{wplace.city}}</td>
        <td ng-click="editWP(wplace.id)">{{wplace.employeeCount}}</td>
        <td><button type="button" ng-click="delete(wplace.id)">X</button><button type="button" ng-click="connect(wplace.id)">C</button></td>
    </tr>
    </tbody>
</table>