<div>
    <div class="modal-header">
        Редактирование и подача тезисов
    </div>
    <div class="modal-body">
        <form>

            <div class="form-group">
                <label for="thesisName">Название:</label>
                <input class="form-control" id="thesisName" ng-model="currentThesis.name">
            </div>
            <div class="form-group">
                <label>Секция:</label>
                <select class="form-control" ng-options="section.id as section.name for section in sections"
                        ng-model="currentThesis.sectionId"></select>
            </div>
            <div class="form-group">
                <label for="thesisFile">Файл:</label>

                <input type="file" id="thesisFile"
                    class="btn btn-primary btn-upload"
                    nv-file-select
                    url="/api/private/files"
                    uploader="uploader" >Загрузить файл
                </input>
                <ul>
                    <li ng-repeat="item in uploader.queue">
                        Name: <span ng-bind="item.file.name"></span><br/>
                        <button ng-click="item.upload()">upload</button>
                    </li>
                </ul>

            </div>
    </div>
    <div class="form-group">
        <label for="coauthors">Соавторы:</label>
        <button type="button" ng-click="addCoauthor()">Добавить соавтора</button>
        <table id="coauthors" class="table  table-striped">
            <thead>
            <th>
                №
            </th>
            <th>
                ФИО
            </th>
            <th>
                Тип
            </th>
            <th>
                Действия
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="coauthor in currentThesis.coauthorsList">
                <td>
                    {{$index+1}}.
                </td>
                <td ng-show="coauthor.dtype == 'snp'">
                    {{coauthor.surname}} {{coauthor.name}}
                </td>
                <td ng-show="coauthor.dtype == 'tbr'">
                    email: {{coauthor.email}}
                </td>
                <td ng-show="coauthor.dtype == 'reg'"  ng-class="coauthor.confirmed ? 'text-success' : 'text-danger'">
                    {{coauthor.snpShort}}
                </td>
                <td>
                    {{coauthor.dtype == 'snp' ? 'Не будет регистр.' : coauthor.dtype == 'reg' ? 'Зарегистрирован' :
                    'Зарегистрируется позже'}}
                </td>
                <td>
                    <button type="button" class="btn" ng-click="deleteCoauthor(coauthor.id)">Х</button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Да</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Нет</button>
</div>
</div>