<div>
    <h1>
        Шаблоны почты
    </h1>
    <div>
        <button type="button" ng-click="createNew()">+</button>
        <div>
            -----
        </div>
        <div ng-repeat="template in templates">
            <button type="button" ng-click="setCurrent($index)">{{template.name}}</button>
        </div>
        <div>
            -----
        </div>
        <div>
        Название:  <input size="40" ng-model="currentTemplate.name"></div></br>
        Тема: <input size="40" ng-model="currentTemplate.topic"></div></br>
            <textarea rows="10" cols="50" ng-model="currentTemplate.text"></textarea>
        </div>
        <div>
            <button type="button" ng-click="save(currentTemplate)">Сохранить</button>
        </div>
    </div>
</div>