<div>
    <div class="header-panel">
        <a ng-href="#/events">Все конференции > </a>&nbsp;<span class="h5">{{currentEvent.name}}</span>
    </div>
    <div class="fixed-width-mid">
        <tabset>
            <tab heading="Информация">
                Информация
            </tab>
            <tab heading="Подача тезисов">
                <div>
                    <button class="btn" type="button" ng-click="openEditThesisModal()">Добавить тезис</button>
                </div>
                <div class="logic-area">
                    Ожидают подтверждения от соавторов
                    <span thesises-list list="waitingForCoauthorConfirmationList" mode="waitForCA"></span>
                </div>
                <div class="logic-area">
                    Ожидают подтверждения от Вас
                    <thesises-list list="waitingForYourConfirmationList" mode="waitForYou"></thesises-list>

                </div>
                <div class="logic-area">
                    Подтвержденные тезисы
                    <thesises-list list="confirmedList" mode="confirmed"></thesises-list>

                </div>
            </tab>
            <tab heading="Финансы">
                Финансы
            </tab>

        </tabset>
    </div>
</div>