<div>
    <div class="fixed-width-mid">
        <tabset>
            <div class="header-panel">
                <a ng-href="#/events">Все конференции > </a>&nbsp;<span class="h5">{{currentEvent.name}}</span>
            </div>
            <tab heading="Информация">
                <p>
                    Полное название: {{currentEvent.name}}
                </p>
                <p>
                    Краткое название: {{currentEvent.shortName}}
                </p>
                <p>
                    Дата начала: {{currentEvent.startDate|date:'dd.MM.yy'}}
                </p>
                <p>
                    Дата окончания: {{currentEvent.endDate|date:'dd.MM.yy'}}
                </p>
                <p>
                    Дата начала приема заявок: {{currentEvent.applicationStartDate|date:'dd.MM.yy'}}
                </p>
                <p>
                    Дата окончания приема заявок: {{currentEvent.applicationEndDate|date:'dd.MM.yy'}}
                </p>
                <p>
                    Дата подготовки программы конференции: UNDER CONSTRUCTION
                </p>
                <p>
                    Дата подготовки сборника тезисов: {{currentEvent.printEndDAte|date:'dd.MM.yy'}}
                </p>
            </tab>
            <tab heading="Подача тезисов">
                <div>
                    <button class="btn" type="button" ng-click="openEditThesisModal()">Добавить тезис</button>
                </div>
                <div class="logic-area">
                    Ожидают подтверждения от соавторов
                    <span thesises-list list="waitingForCoauthorConfirmationList" mode="waitForCA"></span>
                </div>
                <div class="logic-area">
                    Ожидают подтверждения от Вас
                    <thesises-list list="waitingForYourConfirmationList" mode="waitForYou"></thesises-list>

                </div>
                <div class="logic-area">
                    Подтвержденные тезисы
                    <thesises-list list="confirmedList" mode="confirmed"></thesises-list>

                </div>
            </tab>
            <tab heading="Финансы">
                Финансы
                <div ng-include="'./member-back-office/html/fragments/financial-docs.html'" ng-controller="FinancialDocsController">

                </div>
            </tab>

        </tabset>
    </div>
</div>