<div class="fixed-width-mid">
    <form>
        <div class="form-group">
            <label for="info-surname">Фамилия:</label>
            <input class="form-control" id="info-surname" ng-model="user.surname">
        </div>
        <div class="form-group">
            <label for="info-name">Имя:</label>
            <input class="form-control" id="info-name" ng-model="user.name">
        </div>
        <div class="form-group">
            <label for="info-patronymic">Отчество:</label>
            <input class="form-control" id="info-patronymic" ng-model="user.patronymic">
        </div>
        <div class="form-group">
            <label for="info-passportSeries">Серия паспорта:</label>
            <input class="form-control" id="info-passportSeries" ng-model="user.passportSeries">
        </div>
        <div class="form-group">
            <label for="info-passportNumber">Номер паспорта:</label>
            <input class="form-control" id="info-passportNumber" ng-model="user.passportNumber">
        </div>
        <div class="form-group">
            <label for="info-email">e-mail:</label>
            <input class="form-control" id="info-email" ng-model="user.email">
        </div>
        <button class="btn" type="button" ng-click="save()">Сохранить</button>

<hr/>
        <accordion>
            <accordion-group heading="Смена пароля">
                                <div class="form-group">
                    <label for="pass-pass1">Новый пароль:</label>
                    <input class="form-control" type="password" id="pass-pass1" ng-model="pass.pass1">
                </div>

                <div class="form-group">
                    <label for="pass-pass2">Повторите пароль:</label>
                    <input class="form-control" type="password" id="pass-pass2" ng-model="pass.pass2">
                </div>
                <button class="btn" type="button" ng-click="changePassword()">Поменять пароль</button>
            </accordion-group>
        </accordion>
    </form>
</div>
