<div class="fixed-width-mid">
    <form>
        <div class="form-group">
            <label for="info-surname">Фамилия:</label>
            <input class="form-control" id="info-surname" ng-model="user.surname">
        </div>
        <div class="form-group">
            <label for="info-name">Имя:</label>
            <input class="form-control" id="info-name" ng-model="user.name">
        </div>
        <div class="form-group">
            <label for="info-patronymic">Отчество:</label>
            <input class="form-control" id="info-patronymic" ng-model="user.patronymic">
        </div>
        <div class="form-group">
            <label for="info-passportSeries">Серия паспорта:</label>
            <input class="form-control" id="info-passportSeries" ng-model="user.passportSeries">
        </div>
        <div class="form-group">
            <label for="info-passportNumber">Номер паспорта:</label>
            <input class="form-control" id="info-passportNumber" ng-model="user.passportNumber">
        </div>
        <div class="form-group">
            <label for="info-email">e-mail:</label>
            <input class="form-control" id="info-email" ng-model="user.email">
        </div>
        <button class="btn" type="button" ng-click="save()">Сохранить</button>
    </form>
</div>
