<div class="fixed-width-mid">
    <form>
        <div class="checkbox">
            <label>
                <input class="checkbox" type="checkbox"/>
                Всегда переходить к последней конференции
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"/>
                Включить подсказки для каждой страницы
            </label>
        </div>
        <div>
            <button type="button" class="btn-big btn">Сохранить</button>
        </div>
    </form>

</div>