.header-row div {
    float: left;
}

.header-stripe {
    background-color: #e6e6ff;
}

.float-left {
    float:left;
}

.no-float {
    float: none;
}

.header-logo {
    width: 100px;
    height: 100px;
}

.header-row {
    height: 100px;
    margin-bottom: 20px;
    border-bottom: darkgrey 5px;
}

.fixed-width-mid {
    width: 850px;
    margin: 0 auto;
    margin-top: 20px;
}

.exit-div {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background: blue;
}

#img-div #img-circle {
    float: none;
    border-radius: 100px;
    border: solid blueviolet 5px;
    width: 75px;
    height: 75px;
    background-size: 100% auto;
}

.vertical-tabs .nav-tabs {
    width: 150px;
    float: left;
}

.logic-area {
    border: dotted 2px black;
    box-shadow: 3px 3px 0 #1f4677;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.header-right {
    padding-top: 5px;
    padding-bottom: 5px;
}

.mai-logo-bckg {
    background-image: url("../images/mai-logo-light.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 80px;
    background-repeat: repeat;

}

.full-height {
    height: 100%;
}

.text-big {
    font-size: 1.5em;
}

.event-type-name{
    font-size: 1em;
}

.event-dates{
    color: #575757;
    font-size: 1.2em;
}

.width-50{
    width:50%
}
.v-scrollable{
    overflow-y: scroll;
}

.messages-area{
    height:600px;
}

.messages-name{
    font-weight: bold;
}

.message {
    color: black;
    margin: 20px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.1em;
}

.messages-time {
    text-align: right;
}

.chat-message-from {
    background-color: rgb(183, 248, 171);
    margin-left: 50px;
}

.chat-message-to {
    background-color: rgb(162, 224, 236);
    margin-right: 50px;
}

.chat-message-header {
    border-radius: 5px;
    padding: 5px;
    margin: -5px -5px 5px -5px;
}

.chat-header-from {
    background-color: rgb(153, 211, 141);
}

.chat-header-to {
    background-color: rgb(134, 186, 196);
}

.chat-user-selected {
    text-decoration: underline;
}