<html>
<head>
    <meta charset="utf-8">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="/common/js/lib/jquery/jquery-1.11.2.js"></script>
<script src="/common/js/lib/angular/angular.min.js"></script>
<script src="/common/js/lib/angular/angular-route.min.js"></script>
<script src="/common/js/lib/bootstrap/bootstrap.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
<script src="http://underscorejs.org/underscore.js"></script>
<script src="http://momentjs.com/downloads/moment.js"></script>
<!-- users js -->
<script src="member-back-office/js/app.js"></script>

<script src="member-back-office/js/controllers/home-controller.js"></script>
<script src="member-back-office/js/controllers/messages-controller.js"></script>
<script src="member-back-office/js/controllers/personal-info-controller.js"></script>
<script src="member-back-office/js/controllers/email-distr-controller.js"></script>
<script src="member-back-office/js/controllers/email-templates-controller.js"></script>
<script src="/common/js/controllers/main-controller.js"></script>

<script src="common/js/services/auth-service.js"></script>
<script src="common/js/services/user-service.js"></script>
<script src="member-back-office/js/services/email-service.js"></script>
<script src="member-back-office/js/services/email-templates-service.js"></script>
<script src="member-back-office/js/services/messages-service.js"></script>


<title>Ваша персональная страница</title>


<div ng-app="app">
    <div>
        Добро пожаловать, {{currentUser.fullName}}
    </div>
    <div ng-controller="MainController">
        <span ng-click="">На главную</span>
        <span ng-click="toHome()">Домой</span>
        <span ng-click="toMessages()">Почта</span>
        <span ng-click="toPublications()">Публикации</span>
        <span ng-click="toPinfo()">Персональная информация</span>
        <span ng-click="toDistrib()">Рассылка почты</span>
        <span ng-click="toMailTemplates()">Почтовые шаблоны</span>
        <span ng-click="logout()">Выход</span>
    </div>
    <div ng-view>
    </div>
</div>

<body>
</body>
</html>